#login{
	position: absolute;
    top: 20%;
    left: 50%;
    width: 400px;
    height: 200px;
    margin-left: -250px;
    margin-top: -150px;
	box-shadow: 1px 1px 1px lightblue, 0 0 10px skyblue, 0 0 3px blue;
	background-color: #333;

}
#loginDeign{
	margin: 50px;
}
text{
	color: white;
	text-shadow: 1px 1px 1px lightblue, 0 0 10px skyblue, 0 0 3px blue;
}
#username{
	text-align: center;
	width: 200px;
	height: 20px;
}
#password{
	text-align: center;
	width: 200px;
	height: 20px;
}
#Btn{
	width: 80px;
	height: 40px;
	margin: 10px;
}